<div class="navBar">
  <div class="search-bar">
    <img
      class="logo"
      src="https://www.kattabozor.uz/static/img/logo.png"
      alt="Katta Bozor"
    />
    <input type="search" placeholder="Qidiruv..." />
  </div>
  <nav>
    <ul>
      <li><a href="/telephones">Telefonlar</a></li>
      <li><a href="/planshets">Planshetlar</a></li>
      <li><a href="/televisions">Televizorlar</a></li>
      <li><a href="/laptops">Noutbuklar</a></li>
      <li><a href="/smartwatches">Smart Soatlar</a></li>
      <li><a href="/ac">Konditsionerlar</a></li>
      <li><a href="/fridges">Muzlatgichlar</a></li>
      <li><a href="/monitors">Monitorlar</a></li>
    </ul>
  </nav>
</div>
