<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <%- include("./partials/nav.ejs") %>
    <h1>Teachers</h1>
    <ol>
      <% teachers.forEach((teacher) => { %>
      <li><%= teacher.name %> - <%= teacher.email %></li>
      <% }) %>
    </ol>
  </body>
</html>
