<!DOCTYPE html>
<html lang="uz">
  <%- include("./partials/head.ejs") %>
  <body>
    <%- include("./partials/nav.ejs") %>
    <h1 style="text-align: center; padding: 50px">❄️ Muzlatgichlar Bo'limi</h1>
  </body>
</html>
